body{
	background-color: #071e3d;
}

.nav_bar{
	background-color: #071e3d;
	width:100%;
	height:10%;
	border: 2px solid rgb(33, 230, 193);
}

.logo a{
	font-family: fantasy;
	top: 2%;
	font-size: 200%;
	padding-left: 1%;
	color: rgba(255,255,255,150);
}

.logo a:hover{
	text-decoration: none;
}



nav a:hover{
	border: 1px solid rgb(33, 230, 193);
	border-radius: 2px;
}