

body{

	background-color:#071e3d;
	background-size: contain;
	color: rgba(255,255,255,150);
	font-family: fantasy;
	font-size:200%;
	line-height: 80%

}



.form_bg{	

	width:35%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	border: 2px groove #21e6c1;
	border-radius: 7px;
}

form{
	padding-left: 5%;
}

label{

	/*font-size: 200%;*/

}

h2{

	text-align: center;
} 



input[type=text], input[type=email], input[type=password]{
  width:90%;
  background-color: rgba(0,0,0,0);
  color: rgba(255,255,255,150);
  border: none;
  border-bottom: 1px solid #278ea5;
  font-family: fantasy;
  font-size: 80%;
}



input[type=submit]{
	background-color: rgba(33, 230, 193, 150);
	height: 10%;
	width:40%;
	margin-left: 25%;
	color: rgba(255,255,255,150);
	text-align: center;
	border: 2px groove #21e6c1;
	border-radius: 7px;
	font-family: fantasy;
	font-size: 100%;
	font-weight: bold;
}

.error{
	color: #278ea5;
	font-size: 80%;	
}

.end{
	text-align: center;
	font-size: 80%; 
}

.end a{
	color:#278ea5;
}

#h_intro{
	padding-left: 10%;
}