body{
    background-color: #070e18;
}
.user_panel {
    padding : 10px;
    background-color: #278ea5;
    border-color: #21e6c1;
    border-radius: 25px;
    width: 25%;
    margin: 10px;
    min-width: 350px;
}
.user_panel_image{
    max-width: 180px;
    padding:0px 10px ;

}
.user_panel_row{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}
.up1{
    
    color:#21e6c1;
    font-size:20px;
    font-weight: bold;
    width: 50%;
    align-items: center;
}
.up2
{
    color: white;
    font-size: 20px;
    width: 50%;
}
