body{
    background-color: #070e18;
}

.user_panel a {
  
	color: white;
  
	text-decoration: none;
  
  }
  
.user_panel a:hover {
    color:white;
	text-decoration: underline;
  
  }

  .logo a {
  
	color: white;
  
	text-decoration: none;
  
  }
  
  .logo a:hover {
    color:white;
	text-decoration: none;
  
  }

.user_panel {
    padding : 10px;
    background-color: #278ea5;
    border-color: #21e6c1;
    border-radius: 25px;
    width: 25%;
    margin: 10px;
    min-width: 300px;
    float:left;
}
.user_panel_image{
    max-width: 180px;
    padding:0px 10px ;

}
.user_panel_row{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}
.up1{
    
    color:#21e6c1;
    font-size:20px;
    font-weight: bold;
    width: 50%;
    align-items: center;
}
.up2
{
    color: white;
    font-size: 20px;
    width: 50%;
}

.user_post{
    width: 95%;
    background:#21e6c1;
    padding:5 px;
    /*float: right;*/
    margin:10px;
    padding:10px;
    border-radius: 20px;
    min-height:100px;

}
.post_form{
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items:right;
}
.post_form textarea{
    width:100%;
    resize:none;
    overflow:auto;
    min-height:86px;
    border:none;
    border-radius:10px;
    margin-top: 5px;
    padding: 10px;
}
.post_form input{
    width :10%;
    border-radius:6px;
    margin-top: 5px;
    padding: 2.5px 6px;
    font-size:16px;
    background-color: #278ea5;
    color:white;
    border:none;

}

.posted{
    background: #278ea5;
    padding:5 px;
    /*float: right;*/
    margin-left:10px;
    margin-right: 10px;
    margin-top: 10px;
    
    padding:10px;
    border-radius: 20px;
    min-height:100px;
    
}


.posted a:hover {
    color:white;  
	text-decoration: underline;
  
  }

.posted a {
  
	color: white;
  
	text-decoration: none;
  
  }
.posted_textarea{
    width:100%;
    border-radius:10px;
    margin-top: 5px;
    padding: 2px;
    background: white;
    min-height:50px;
}
.posted_head{
    width:100%;
    display:flex;
    flex-direction: row;
    vertical-align: baseline;
}

.posted_comment {
    background:#21e6c1; 
    width:95%;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    
}

.newsfeedPostOptions {
    padding: 0px;
    text-decoration:none;
    color:white;
    border:none;
    margin-left: 10px;
    margin-top:5px;
    background: #278ea5;
}
.newsfeedPostOptions iframe {
    background: #278ea5;
    border: 0px;
    height:27px;
    width:130px;
    
}
.comment_like{
    color:white;
    border:none;
    background:#21e6c1;
    height:auto;
    width:auto;
    border-radius: 25%;
    
}
.like_value{
    
    width:50%;
    color:white;
    padding: 0px;
    text-decoration:none;
    
    border:none;
    margin-left: 10px;

}