body{
    background-color: #070e18;
}

.main_column {
    margin-top: 10px;
    border-radius:10px;
	width: 70%;
	z-index: -1;
    min-height: 170px;
    background: #278ea5;
}

.search_results {
    background-color: #fff;
      border: 1px solid #DADADA;
      border-bottom: none;
      border-top: none;
      margin-top: 21px;
      min-height: 120px;
  }
  
  .search_results_footer{
    padding: 7px 4px 0px 4px;
      height: 30px;
      border: 1px solid #DADADA;
      border-top: none;
      background-color: #20AAE5;
      text-align: center;
  }
  
  .search_results_footer a {
    color: #fff;
  }
  
  .search_result {
    padding: 10px;
      height: 100px;
  }
  .result_profile_pic {
	float: left;
    margin-right: 10px;
}
  

.danger {
	background-color: #e74c3c;
}
.warning {
	background-color: #f0ad4e;
}
.default {
	background-color: #bdc3c7;
}
.success {
	background-color: #2ecc71;
}
.info {
	background-color: #3498db;
}
.deep_blue {
	background-color: #0043f0;
}

.searchPageFriendButtons input[type="submit"] {
	border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
}